<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee; http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/javaee; http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
   <display-name>servlet_prj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Hello</display-name>
    <servlet-name>Hello</servlet-name>
    <servlet-class>day0927.Hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>CallTest</servlet-name>
  	<servlet-class>day0927.CallTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CallTest</servlet-name>
    <url-pattern>/call_test</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>pp</servlet-name>
  	<servlet-class>day1117.ParamProcess</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>pp</servlet-name>
  	<url-pattern>/day1117/pp.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>life_cycle</servlet-name>
  	<servlet-class>day1117.LifeCycle</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>life_cycle</servlet-name>
  	<url-pattern>/life_cycle.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ip</servlet-name>
  	<servlet-class>day1122.TestInitParam</servlet-class><!--JSP명을 넣을 수 있다  -->
	<init-param>
		<param-name>driverName</param-name>
		<param-value>oracle.jdbc.OracleDriver</param-value>
	</init-param>  	
	<init-param>
		<param-name>url</param-name>
		<param-value>jdbc:oracle:thin:@localhost:1521:orcl</param-value>
	</init-param>  	
	<init-param>
		<param-name>username</param-name>
		<param-value>scott</param-value>
	</init-param>  	
	<init-param>
		<param-name>password</param-name>
		<param-value>tiger</param-value>
	</init-param>  	
  </servlet>
  <servlet-mapping>
  	<servlet-name>ip</servlet-name>
  	<url-pattern>/init_param.do</url-pattern>
  </servlet-mapping>
  
</web-app>




